<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      />

    <link rel="stylesheet" href="./style.css"> 

    <title>AlgoViz.net</title>
  </head>
  <body>

    
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://github.com/MassiGy/AlgoViz"> <i class="fa-brands fa-github"> </i> AlgoViz </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" list="search"  type="search" placeholder="Enter an algorithm type" aria-label="Search">
        <datalist id="search">
            <option value="bubbleSort">
            <option value="selectionSort">
            <option value="insertionSort">
            <option value="quickSort">
            
        </datalist>
        <button class="btn btn-outline-success" id="launcher"  type="submit">GoSorting</button>
      </form>
    </div>
  </div>
</nav>
    
    <div id="description">
      <h1> Algo name</h1>
    </div>

    <div class="container">
      <div id="bars"> </div> 
    </div>

  </body>
  <script type="module" src="./script.js"></script>
</html>
