#search_input{
    width:270px;
}


#description{
    width:auto;
    height: 30px;
    text-align: center;

    
    
}


.container{
    display: flex;
    justify-content: center;

}

#bars {
    margin-top: 30px;
    background-color:white;
    position: relative;
    width: 600px;
    height: 460px;
    border: ridge #ccc;
    border-width: 6px;
    
}

.bars_item{
    border-radius: 5px;
}

